body{
   padding: 0;
   margin: 0;
   font-family: 'Roboto', sans-serif;
   font-size: 13pt;
}

a{
   text-decoration: none;
}

ul{
   list-style: none;
}

.container{
   width: 90%;
   margin: 0 auto;
}

.btn{
   border: 2px solid;
   color: #454647;
   text-transform: uppercase;
   font-family: 'Montserrat', sans-serif;
   font-weight: bold;
   padding: 15px 30px;
   cursor: pointer;
}

.btn:hover{
      border: none;
      color:#fff;
      background-color: #00c8c8;
   }

// --------------------------------header----------------------------

.header__auth{
   background-color: #333;
   font-family: 'Montserrat', sans-serif;
   display: flex;
   justify-content: flex-end;
   padding: 0 16% 0 0;
   margin: 0;
   li{
      position: relative;
      padding: 15px;
   }
   li:hover{
      background-color: #00c8c8;
      transition: all .2s;
   }  
   li:hover a{
      color:#fff;
      transition: all .2s;
   }
   a{
      color: #858585;
      padding: 0 10px;
   } 
}

// --------------------------------/header----------------------------

// ----------------------------------nav------------------------------

nav{
  background: url(../img/photo1.png); 
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
  padding: 25px 0 800px 0;
  color: #333;
  display: flex;
  justify-content: flex-end;
   h1 {
      font-size: 24pt;
      margin-right: 15%;
      a{
         color: #333;
       }
      }
   ul {
      display: flex;
      font-family: 'Montserrat', sans-serif;
      justify-content: flex-end;
      li{
         padding: 20px;
         cursor: pointer;
         -webkit-transition: all 0.2s ease;
         transition: all 0.2s ease;
      }
      table{
         font-family: 'Roboto', sans-serif;
         margin-top: 10px;
         position: absolute;
         box-shadow: 0 0 10px rgba(0,0,0,0.5);
         font-size: 12pt;
         padding: 25px;
         display: none;
         background-color: #fff;  
         th{
            padding: 10px 110px 20px 0;
            color: #575153;
         }
         td{
            padding: 4px;
         }
         a{
            color: #858585;
         }
         .nav__sale{
            text-align:center; 
            background-color: #333; 
            padding: 60px 0; 
            margin: 20px 0; 
            color: #fff; 
            text-transform: uppercase; 
            font-size: 24pt;
         }
      }
      input{
         height: 35px;
         width: 200px;
         margin: 20px 40px 0 60px;
      }
      :hover {
         color: #00c8c8;
      }
      :hover table{
         display: block;
      }
   }
}
.icon-menu{
   display: none;
}

// ----------------------------------/nav------------------------------


//-----------------------------------main------------------------------
.main{
   &__filter{
      display: flex;
      font-family: 'Montserrat', sans-serif;
      margin: 0;
      border-top: 1px solid #929292;
      padding: 55px 0;
      margin-top: 65px;
      width: 100%;
      li{
         text-transform: uppercase;
         color: #858585;
         font-weight: bold;
         padding-right: 60px;
         cursor: pointer;
         
      }
      :hover {
         color: #00c8c8;
      }
   }
   // /блок фильтров
   //-----------------------------------products--------------------------
   &__content{
      display: flex;
      padding-bottom: 55px;
      margin-bottom: 65px;
      border-bottom: 1px solid #929292;
   }
   &__products{
      width: 50%;
      padding-right: 20px;
   }
   &__block{
      display: flex;
      width: 100%;
   }
   &__price{
      position: absolute;
      padding: 10px;
      font-size: 18pt;
      color: #858585;
   }
   &__product{
      position: relative;
      width: 90%;
      margin: 10px 10px 10px 0;
      img{
         width: 100%;
         height: 470px;
         object-fit: cover;
      }
      .main__other{
      position: absolute; 
      text-align: right;
      display: none;
      img{
         margin: 20px 20px 0 0;
         width: 20%;
         height: 100%;
         box-shadow: 0 0 10px rgba(0,0,0,0.5);
      }
      }
   }
   &__product__big{
      position: relative;
      width: 99%;
      margin: 10px 10px 10px 0;
      img{
         width: 100%;
         height: 650px;
         object-fit: cover;
         object-position: 80% 1%;
      }
      .main__other{
      width: 100%;
      position: absolute; 
      text-align: right;
      display: none;
      img{
         margin: 30px 20px 0 0;
         width: 20%;
         height: 100%;
         box-shadow: 0 0 10px rgba(0,0,0,0.5);
      }
      }
   }
   &__description{
      position: absolute;
      text-align: center;
      display: none;
      background-color: #fff;
      padding: 25px 20px;
      margin-top: -5px;
      box-shadow: 0 0 10px rgba(0,0,0,0.5);
      z-index: 1;
      font-size: 12pt;
      i{
         border-radius: 100%;
         background-color: #727272;
         color: #fff;
         padding: 5px 3px;
         margin: 0 5px;
      }
      i:hover{
         background-color: #00c8c8;
      }
   }   
}

.main__product:hover{
   box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.main__product:hover .main__description{
   display: block;
}

.main__product:hover .main__other{
   display: block;
}

.main__product__big:hover{
   box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.main__product__big:hover .main__description{
   display: block;
   width: 95.5%; 
}
.main__product__big:hover .main__other{
   display: block;
}
//-----------------------------------/products--------------------------

// ------------------------------main__lookbook--------------------------

.main__lookbook{
   display: flex;
   :last-child{
      margin: 0;
   }
   &__block{
      text-align: right;
      background-color: #eeeeee;
      background-position: center center;
      background-size: cover;
      margin-right: 40px;
   }
   &__description{
      padding: 80px 40px 50% 50%;
      h3{
         color: #575153;
         margin: 0;
         font-size: 24pt; 
         text-transform: uppercase;
      }
      h4{
         color: #575153;
         margin: 0;
         font-size: 24pt;
         text-transform: uppercase;
         font-weight: lighter; 
      }
      p{
        font-size: 12pt; 
        color: #727272;
        padding-bottom: 10px;
      }
   } 
}
// ------------------------------/main__lookbook--------------------------

//-----------------------------------/main--------------------------------

// ----------------------------------footer-------------------------------

.footer{
   background-color: #f8f8f8;
   font-family: 'Montserrat', sans-serif;
   h4{
      font-weight: bold;
      text-transform: uppercase;
      margin: 0;
      color: #575153;
      margin-bottom: 20px;
   }
   a{
     color: #575153; 
   }
   &__container{
      width: 60%;
      margin: 0 auto;
      padding: 60px 0; 
   }
   &__info{
      display: flex;
      ul{
         width: 20%;
      }
      li{
         padding: 5px 0;
      }
   }
   &__about{
      display: flex;
      justify-content: center;
      color: #fff;
      text-transform: uppercase;
      font-size: 30pt;
      margin: 20px 0;
   }
   &__award{
      width: 100%;
      background-color: #333;
      text-align: center;
      padding: 60px 0;
      margin-right: 15px;
   }
   &__social{
      width: 100%;
      background-color: #00c8c8;
      text-align: center;
      padding: 60px 0;
      margin-left: 15px;
      a{
         color: #fff;
      }
   }
   &__tm{
      display: flex;
      justify-content: center;
      p{
         padding: 5px;
      }
      background-color: #333;
      color: #727272;
   }
}

// ---------------------------------/footer-------------------------------

// ---------------------------------media---------------------------------

@media (max-width: 767px){
   .header__auth{
      padding: 0;
      justify-content: center;
      font-size: 8pt;
      position: fixed;
      z-index: 2;
      width: 100%; 
      li{
         padding: 10px;
      }
   }
   .icon-menu{
      display: block;
      cursor: pointer;
      font-size: 20pt;
      text-align: center;
      padding-bottom: 15px;
   }
   nav{
      background: none;
      padding: 15px 0 0 0;
      h1{
         background-color: #333;
         color: #858585;
         width: 100%;
         padding: 25px 0 0 0;
         margin: 0;
         text-align: center;
         a{
          color: #858585;  
         }
      }
      ul{
         display: none;
         width: 100%;
         text-align: right;
         background-color: #333;
         color: #858585;
         margin-top: 2px;
         padding: 20px;
         li{
            padding: 10px 0;
         }
         table{
            position: relative;
            margin: 0;
            padding: 0;
            text-align: right;
            width: 100%;
            th{
               padding: 5px 10px;
            }
            td{
               padding: 5px 10px;
               width: 100%;
            }
            .nav__sale{
               padding: 10px 0;
               font-size: 18pt;
            }
         }
         input{
            width: 100%;
            margin: 0;
            padding: 0;
         }
      }
   }

   .main{
      &__filter{
         border: none;
         display: block;
         margin: 0;
         padding: 0;
         text-align: center;
         width: 100%;
         li{
            padding: 10px 0;
         }
      }
      &__content{
         width: 100%;
         display: block;
         border: none;
         margin: 0;
      }
      &__products{
         width: 100%;
         img{
            height: 100%;
         }
      }
      &__product{
         .main__other{
         img{
            width: 40%;
         }
         }
      }

      &__block{
         padding-bottom: 65%;
      }
      &__description{
         display: block;
         position: relative;
         padding: 10px 0;
         width: 100%;
      }
   }

   .main__lookbook{
      display: block;
      &__block{
         padding: 0;
         margin: 0;
      }
      &__description{
         padding: 80px 40px 20% 20%;
      }
   }
   .footer{
      &__container{
         width: 100%;
         padding: 0;
         margin: 0;
         justify-content: center;
      }
      &__info{
         display: none;
      }
      &__about{
         display: block;
         margin: 20px 0 0 0;
         width: 100%;
      }
      &__award{
         padding: 10px 0;
         margin: 0;
         font-size: 25pt;
      }
      &__social{
         padding: 10px 0;
         margin: 10px 0;
         font-size: 25pt;
      }
      &__tm{
         font-size: 10px;
         padding: 10px 0;
      }
   }
      
   
}

@media (max-width: 1024px){
   .header__auth{
      padding: 0;
      justify-content: center;
      width: 100%; 
      li{
         padding: 10px;
      }
   }
   nav{
      padding: 10px 0 180px 0;
      margin: 0;
      justify-content: center;
      text-align: center;
      h1{
         display: none;
      }
      ul{
         width: 100%;
         margin: 0;
         padding: 0;
         font-size: 10pt;
         li{
            margin: 0;
         }
         input{
            padding: 0;
            margin: 20px 5px;
         }
         table{
            z-index: 1;
            text-align: center;
            th{
               padding: 20px;
            }
         }
      } 
   }
   
   .main{
      &__filter{
        padding: 20px 0 10px 0;
        margin: 20px 0 10px 0;
        font-size: 8pt;
        text-align: center;
        li{
           padding: 0 10px;
        }
      }
      &__content{
         width: 100%;
         display: block;
         border: none;
         margin: 0;
      }
      &__products{
         width: 100%;
         img{
            height: 100%;
         }
      }
      &__product{
         .main__other{
            img{
               width: 40%;
            }
         }
      }
      &__description{
         padding: 25px 15px;
         margin: 0;
      }
   }   
   .main__lookbook{
      &__block{
         width: 100%;
      }
      &__description{
         padding: 220px 20px 50% 30%;
         p{
            display: none;
         }
      }
   }
   .footer{
      &__container{
         width: 100%;
         padding: 0;
         margin: 0;
         justify-content: center;
      }
      &__info{
         display: none;
      }
      &__about{
         display: block;
         margin: 20px 0 0 0;
         width: 100%;
      }
      &__award{
         padding: 10px 0;
         margin: 0;
         font-size: 25pt;
      }
      &__social{
         padding: 10px 0;
         margin: 10px 0;
         font-size: 25pt;
      }
      &__tm{
         font-size: 10px;
         padding: 10px 0;
      }
   }
}

