// html{
//    background: url(../img/1-Home.png);
//    background-repeat: no-repeat;
// }

body{
   padding: 0;
   margin: 0;
   font-family: 'Roboto', sans-serif;
   font-size: 13pt;
}

a{
   text-decoration: none;
}

ul{
   list-style: none;
}

.container{
   width: 1770px;
   margin: 0 auto;
}

.btn{
   border: 2px solid;
   color: #454647;
   text-transform: uppercase;
   font-family: 'Montserrat', sans-serif;
   font-weight: bold;
   padding: 15px 30px;
   cursor: pointer;
}

.btn:hover{
      color:#fff;
      background-color: #00c8c8;
   }

// --------------------------------header----------------------------

.header__auth{
   background-color: #333;
   font-family: 'Montserrat', sans-serif;
   display: flex;
   justify-content: flex-end;
   padding: 0 300px 0 0;
   margin: 0;
   li{
      position: relative;
      padding: 17px 15px;
      :hover{
         padding: 17px 10px;
         background-color: #00c8c8;
         color:#fff;
         transition: all .2s;
      }  
   }
   a{
      color: #858585;
      padding: 0 10px;
   } 
}

// --------------------------------/header----------------------------

// ----------------------------------nav------------------------------

nav{
  background: url(../img/photo1.png); 
  background-repeat: no-repeat;
  padding: 25px 0 800px 0;
  color: #333;
   h1 {
      position: absolute;
      font-size: 24pt;
      margin-left: 100px;
      a{
         color: #333;
      }
      }
   ul {
      display: flex;
      font-family: 'Montserrat', sans-serif;
      justify-content: flex-end;
      margin: 0;
      li{
         padding: 20px;
         cursor: pointer;
         -webkit-transition: all 0.2s ease;
         transition: all 0.2s ease;
      }
      table{
         font-family: 'Roboto', sans-serif;
         margin-top: 10px;
         position: absolute;
         box-shadow: 0 0 10px rgba(0,0,0,0.5);
         font-size: 12pt;
         padding: 25px;
         display: none;
         background-color: #fff;  
         th{
            padding: 10px 110px 20px 0;
            color: #575153;
         }
         td{
            padding: 4px;
         }
         a{
            color: #858585;
         }
        .nav__sale{
            text-align:center; 
            background-color: #333; 
            padding: 60px 0; 
            margin: 20px 0; 
            color: #fff; 
            text-transform: uppercase; 
            font-size: 24pt;
         }
      }
      input{
         height: 35px;
         width: 200px;
         margin: 20px 20px 0 80px;
      }
      :hover {
         color: #00c8c8;
      }
      :hover table{
         display: block;
      }
   }
}

// ----------------------------------/nav------------------------------


//-----------------------------------main------------------------------
.main{
   &__filter{
      display: flex;
      font-family: 'Montserrat', sans-serif;
      margin: 0;
      border-top: 1px solid #929292;
      padding: 55px 0;
      margin-top: 65px;
      li{
         text-transform: uppercase;
         color: #858585;
         font-weight: bold;
         padding-right: 60px;
         cursor: pointer;
         
      }
      :hover {
         color: #00c8c8;
      }
   }
   // /блок фильтров
   //-----------------------------------products--------------------------
   &__content{
      display: flex;
      padding-bottom: 55px;
      margin-bottom: 65px;
      border-bottom: 1px solid #929292;
   }
   &__products{
      width: 50%;
      padding-right: 20px;
   }
   &__block{
      display: flex;
      width: 100%;
   }
   &__price{
      position: absolute;
      padding: 10px;
      font-size: 18pt;
      color: #858585;
   }
   &__product{
      position: relative;
      width: 90%;
      margin: 10px 10px 10px 0;
      img{
         width: 100%;
         height: 470px;
         object-fit: cover;
      }
      .main__other{
      width: 30%;
      position: absolute; 
      margin-left: 275px;
      display: none;
      img{
         margin: 20px 20px 0 0;
         width: 100%;
         height: 100%;
         box-shadow: 0 0 10px rgba(0,0,0,0.5);
      }
      }
   }

   &__product__big{
      position: relative;
      width: 99%;
      margin: 10px 10px 10px 0;
      img{
         width: 100%;
         height: 650px;
         object-fit: cover;
         object-position: 80% 1%;
      }
      .main__other{
      width: 25%;
      position: absolute; 
      margin-left: 610px;
      display: none;
      img{
         margin: 30px 20px 0 0;
         width: 100%;
         height: 100%;
         box-shadow: 0 0 10px rgba(0,0,0,0.5);
      }
      }
   }
   &__description{
      position: absolute;
      text-align: center;
      display: none;
      background-color: #fff;
      padding: 40px 20px;
      margin-top: -5px;
      box-shadow: 0 0 10px rgba(0,0,0,0.5);
      z-index: 1;
   }
   
}

.main__product:hover{
   box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.main__product:hover .main__description{
   display: block;
}

.main__product:hover .main__other{
   display: block;
}

.main__product__big:hover{
   box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.main__product__big:hover .main__description{
   display: block;
   width: 95.5%; 
}
.main__product__big:hover .main__other{
   display: block;
}
//-----------------------------------/products--------------------------

// ------------------------------main__lookbook--------------------------

.main__lookbook{
   display: flex;
   margin-bottom: 120px;
   :last-child{
      margin: 0;
   }
   &__block{
      justify-content: flex-end;
      text-align: right;
      background-color: #f8f8f8;
      margin-right: 40px;
   }
   &__description{
      padding: 100px 40px 100px 300px;
      h3{
         color: #575153;
         margin: 0;
         font-size: 24pt; 
         text-transform: uppercase;
      }
      h4{
         color: #575153;
         margin: 0;
         font-size: 24pt;
         text-transform: uppercase;
         font-weight: lighter; 
      }
      p{
        font-size: 12pt; 
        color: #727272;
        padding-bottom: 10px;
      }
   } 
}
// ------------------------------/main__lookbook--------------------------

//-----------------------------------/main--------------------------------

// ----------------------------------footer-------------------------------

.footer{
   background-color: #f8f8f8;
   font-family: 'Montserrat', sans-serif;
   h4{
      font-weight: bold;
      text-transform: uppercase;
      margin: 0;
      color: #575153;
      margin-bottom: 20px;
   }
   &__container{
      width: 60%;
      margin: auto;
   }
   &__info{
      display: flex;
      ul{
         width: 20%;
      }
   }
}